<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        span { color : blue }
    </style>
</head>
<body>  <!---->
<h1>당신의 이름은 <span>{{result}}</span>이군요~~~</h1> <!--딕셔너리의 key값이 'result'인 value를 가져온다.--> <!--result라는 변수명을 주는데 result는 템플릿으로 전달된 딕셔너리의 key에 해당하는 값이다.--> <!--https://goodthings4me.tistory.com/92 도 참고-->
</body>    <!--겹중괄호를 주면 일반적인 html에서는 사용할 수 없고 장고의 templates 파일에서 사용할 수 있는 특별한 구문이다. 여기서는 key가 'result'인 value가 출력된다.--> <!--https://velog.io/@jewon119/Django-%EA%B8%B0%EC%B4%88-Template-Language 참고-->
</html>