{% extends 'basesimple.html' %}
{% block mycss %}
    * {
        color : {{gcolor}} # 탬플릿태그가 사용된것을 주목
    }
{% endblock %}
{% block mycontent %}
  <h1>추출된 Query 문자열의 내용</h1>
  <hr>
  <h2>성명 - {{gname}}</h2>
  {% if ghobby|length == 0 %}
      <h3>취미를 선택하지 않았네용</h3>
  {% else %}
      <h2>취미</h2>
      <ul>
      {% for element in ghobby %}
          <li>{{element}}</li> <!--ul태그가 없는데 브라우저가 처리는 해줌. 좋은 방법은 아님. 그래서 수업중에 for문 밖에 ul태그를 추가함.-->
      {% endfor %}
      </ul>
  {% endif %}
  <hr>
  <button onclick="alert('{{gmemo}}');">글 확인하기</button> <!--화면에 경고창이 출력됨--> <!--내 기억에 alert앞에 window는 생략 가능했던 것 같음. -->
  <hr>
  <a href="{{request.headers.referer}}">입력화면으로 가기</a>  <!--/secondapp/formget/ 이나 url태그 방법을 써도 됐는데 이건 다른 방법을 사용함-->
{% endblock %}<!--request 객체는 클라이언트가 요청을 할때 정보를 담고있는 객체?? 템플릿태그나 템플릿변수에서 request라고 내장객체를 사용할 수 있고 headers는 기본적으로 헤더와 바디로 구성되는데 요청할때는 요청헤더, 요청바디, 응답할때는 응답헤더, 응답바디로 구성되는데 헤더중에 referer를 사용하겠다는건데 referer는 이 페이지가 누구를 통해 요청돼었는가. 이 프로그램이 수행하기전에 거쳐졌던 서버 페이지(form을 제출하는 페이지)의 url을 의미한다. -->

